<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>base-{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdn.bootcss.com/bootstrap-select/1.13.5/css/bootstrap-select.min.css" rel="stylesheet">
  </head>
  <body>

  <div class="icon-fullscreen">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark ">
        <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="navbar-toggler-icon"></span>
        </button> <a class="navbar-brand" href="{{ url_for('first.index') }}">首页</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">手机</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='手机', commodity_brand='三星') }}">三星</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='手机', commodity_brand='苹果') }}">苹果</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='手机', commodity_brand='华为') }}">华为</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='手机', commodity_brand='小米') }}">小米</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='手机', commodity_brand='OPPO') }}">OPPO</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='手机', commodity_brand='VIVO') }}">VIVO</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">笔记本电脑</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='笔记本电脑', commodity_brand='联想') }}">联想</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='笔记本电脑', commodity_brand='戴尔') }}">戴尔</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='笔记本电脑', commodity_brand='苹果') }}">苹果</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='笔记本电脑', commodity_brand='惠普') }}">惠普</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='笔记本电脑', commodity_brand='华硕') }}">华硕</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='笔记本电脑', commodity_brand='华为') }}">华为</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='笔记本电脑', commodity_brand='神舟') }}">神舟</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='笔记本电脑', commodity_brand='小米') }}">小米</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">台式电脑配件</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='CPU', commodity_brand='*') }}">CPU</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='主板', commodity_brand='*') }}">主板</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='内存', commodity_brand='*') }}">内存</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='固态硬盘', commodity_brand='*') }}">固态硬盘</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_brand', commodity_type='电源', commodity_brand='*') }}">电源</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline" action="{{ url_for('first.commodity_brand', commodity_type='*', commodity_brand='*') }}" method="post">
                <input name="search_keyword" class="form-control mr-sm-2" type="text" />
                <button class="btn btn-primary my-2 my-sm-0" type="submit">
                    搜索
                </button>
            </form>
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item active">
                    {% if not session.username %}
                     <a class="nav-link" href="{{url_for('first.login')}}">登陆/注册<span class="sr-only">(current)</span></a>
                    {% else %}
                         <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">{{ session.username }}</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">我的收藏</a>
                                <a class="dropdown-item" href="{{ url_for('first.modify_password') }}">修改密码</a>
                                <a class="dropdown-item" href="{{ url_for('first.logout') }}">注销</a>
                            </div>
                </li>
                         </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
        </div>
    </nav>
  </div>
  {% block content %}{% endblock %}
  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-select/1.13.5/js/bootstrap-select.min.js"></script>
<script>
    String.prototype.format = function() {
 if(arguments.length == 0) return this;
 var param = arguments[0];
 var s = this;
 if(typeof(param) == 'object') {
  for(var key in param)
   s = s.replace(new RegExp("\\{" + key + "\\}", "g"), param[key]);
  return s;
 } else {
  for(var i = 0; i < arguments.length; i++)
   s = s.replace(new RegExp("\\{" + i + "\\}", "g"), arguments[i]);
  return s;
 }
};
var infos = [];
function centent1SelectOnchang() {
var val = "", staffs = [];
//循环的取出插件选择的元素(通过是否添加了selected类名判断)
for (var i = 0; i < $("li.selected").length; i++) {
    val = $("li.selected").eq(i).find(".text").text();
    if (val != '') {
        staffs.push(val);
    }
}
infos = staffs;
{#console.log(staffs)#}
}
$('#date_bt').on('click', function () {
    if (infos.length<1){
        alert('请选择要对比的参数');
        return null}
    commodity_name = (decodeURI(window.location.pathname)).split('/')[2];
    commodity_type = (decodeURI(window.location.pathname)).split('/')[1]
    var obj = document.getElementById("phone_select");
    var phone_index = obj.selectedIndex;
    phone_name = obj.options[phone_index].text;
    url = "{{ url_for('first.Contrast') }}";
    window.location.href = url+"?commodity_type={0}&commodity_name={1}&commodity_contrast_name={2}&contrast_info={3}"
        .format(commodity_type,commodity_name,phone_name,infos);
});
$('#Contrast_bt').on('click', function () {
    if (infos.length<1){
        alert('请选择要对比的参数');
        return null}
    {#alert(decodeURI(window.location));#}
    var commodity_name = (decodeURI(window.location)).split(/\?|&|=/)[4];
    {#alert(commodity_name);#}
    var commodity_type = (decodeURI(window.location)).split(/\?|&|=/)[2];
    {#alert(commodity_type);#}
    var obj = document.getElementById("phone_select");
    var phone_index = obj.selectedIndex;
    var phone_name = obj.options[phone_index].text;
    url = "{{ url_for('first.Contrast') }}";
    window.location.href = url+"?commodity_type={0}&commodity_name={1}&commodity_contrast_name={2}&contrast_info={3}"
        .format(commodity_type,commodity_name,phone_name,infos);
});
</script>
</body>
</html>