<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>base-{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  </head>
  <body>

  <div class="icon-fullscreen">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark ">
        <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="navbar-toggler-icon"></span>
        </button> <a class="navbar-brand" href="{{ url_for('first.index') }}">首页</a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">手机</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='华为') }}">华为</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='小米') }}">小米</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='OPPO') }}">OPPO</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='VIVO') }}">VIVO</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">笔记本电脑</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='联想') }}">联想</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='戴尔') }}">戴尔</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='苹果') }}">苹果</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='惠普') }}">惠普</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='华硕') }}">华硕</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='华为') }}">华为</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='神舟') }}">神舟</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='小米') }}">小米</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">台式电脑配件</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='CPU') }}">CPU</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='显卡') }}">显卡</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='主板') }}">主板</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='内存条') }}">内存条</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='固态') }}">固态</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='电源') }}">电源</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='散热器') }}">散热器</a>
                        <a class="dropdown-item" href="{{ url_for('first.commodity_data', commodity_name='机箱') }}">机箱</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="text" />
                <button class="btn btn-primary my-2 my-sm-0" type="submit">
                    搜索
                </button>
            </form>
            <ul class="navbar-nav ml-md-auto">
                <li class="nav-item active">
                    {% if not session.username %}
                     <a class="nav-link" href="{{url_for('first.login')}}">登陆/注册<span class="sr-only">(current)</span></a>
                    {% else %}
                         <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">{{ session.username }}</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">我的收藏</a>
                                <a class="dropdown-item" href="{{ url_for('first.logout') }}">注销</a>
                            </div>
                </li>
                         </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
        </div>
    </nav>
  </div>
  {% block content %}{% endblock %}
  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

<!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>