{% extends 'base.html' %}
{% block title %}{{ commodity_type }}-{{ commodity_name }}{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
            <br>
			<div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="form-group">
                    <select id= 'info_select' onchange="centent1SelectOnchang(this)" class="selectpicker form-control" data-live-search="true" data-size="5" data-header="请选择要比较的参数" multiple data-max-options="6">
                            {% for i in info.info_list %}
                            <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="card">
                        <table  border="1" frame="void" rules="rows" style="table-layout:fixed;WORD-BREAK:break-all;">
                        <tr>
                            <th colspan="1" rowspan="1" width="250">{{ info.name }}</th>
                            <th colspan="1" rowspan="1" width="650"><a href={{ info.img_path }}><img style="height: 50px; width: 60px;" src={{ info.img_path }}></a></th>
                        </tr>
                        {% for k,v in info.base_info.items() %}
                        <tr>
                            <td width="250">{{ k }}</td>
                            <td width="650">{{ v }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>价格</td>
                            <td>{{ info.price }}</td>
                        </tr>
                        </table>
                    </div>
                </div>
                <div class="col-md-1">
                    <button id="Contrast_bt" type="submit" class="btn btn-success">对比</button>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <select id = 'phone_select' class="selectpicker form-control" data-live-search="true" data-size="5" data-header="请选择要比较的商品">
                            {% for i in info.phone_list %}
                                {% if i == other_info.name %}
                                    <option value="{{ i }}" selected="selected">{{ i }}</option>
                                {% else %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="card">
                        <table  border="1" frame="void" rules="rows" style="table-layout:fixed;WORD-BREAK:break-all;">
                        <tr>
                            <th colspan="1" rowspan="1" width="250"><a href="{{ url_for('first.commodity_data', commodity_type=other_info.commodity_type,commodity_name=other_info.name) }}" style="color: black;">{{ other_info.name }}</a></th>
                            <th colspan="1" rowspan="1" width="650"><a href={{ other_info.img_path }}><img style="height: 50px; width: 60px;" src={{ other_info.img_path }}></a></th>
                        </tr>
                        {% for k,v in other_info.base_info.items() %}
                        <tr>
                            <td width="250">{{ k }}</td>
                            <td width="650">{{ v }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td>价格</td>
                            <td>{{ other_info.price }}</td>
                        </tr>
                        </table>
                    </div>
                </div>
			</div>
            <div class="tabbable container" id="tabs-818728">
            <br>
            <br>
            <br>
            <br>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active show" href="#tab1" data-toggle="tab">价格信息</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#tab2" data-toggle="tab">网络评测</a>
                    </li>
                </ul>
            <div class="tab-content">
            <div class="tab-pane active" id="tab1">
                <p>
                <ul class="list-group">
                {% for price in price_list %}
                    <li class="list-group-item">
                        <table>
                            <tr>
                                <th rowspan="2">
                                    <a href="{{ price.price_url }}"><img src="{{ price.price_img_path }}" style="width: 100px;height: 100px"></a>
                                </th>
                                <td valign="top">
                                    <a style="color: black;font-weight: bold;" href="{{ price.price_url }}">{{ price.price_title }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>价格：<a href="{{ url_for('first.price_trend',commodity_name=price.commodity_name,price_id=price.price_id)}}">{{ price.price }}</a></td>
                                {% if price.collection_flag == 0 %}
                                <td><button type="button" class="btn btn-primary" data-loading-text="Loading..." onclick="colect('{{ price.price_id }}')" id="{{ price.price_id }}">收藏</button></td>
                                {% else %}
                                <td><button type="button" class="btn btn-primary" data-loading-text="Loading..." onclick="colect('{{ price.price_id }}')" id="{{ price.price_id }}">已收藏</button></td>
                                {% endif %}
                            </tr>
                        </table>
                    </li>
                {% endfor %}
                </ul>
                </p>
            </div>
            <div class="tab-pane" id="tab2">
                <p>
                {% for review in review_list %}
                <div class="card w-95">
                    <div class="card-body">
                        <a style="color: black;font-weight: bold;" href="{{ review.review_url }}">{{ review.review_title }}</a>
                        <br>
                        <small class="text-center">{{ review.review_excerpt }}</small>
                    </div>
                </div>
                {% endfor %}
                </p>
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>
        </div>
</div>
{% endblock %}