{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
<div class="container">
    <a href="{{ url_for('first.index') }}" style="font-family:Microsoft YaHei;font-size: 12px;color: black;">首页</a>
    > <a style="font-family:Microsoft YaHei;font-size: 12px;color: black;">我的收藏&nbsp;&nbsp;</a>
    <a style="font-family:Microsoft YaHei;font-size: 12px;">共收藏商品{{ collection_sum }}件</a>
<hr style="border-top:1px dashed #987cb9;" width="100%" color="#987cb9" size=1>
<div class="row container">
    <p>
                <ul class="list-group">
                {% for price in price_list %}
                    <li class="list-group-item">
                        <table>
                            <tr>
                                <th rowspan="2">
                                    <a href="{{ price.price_url }}"><img src="{{ price.price_img_path }}" style="width: 100px;height: 100px"></a>
                                </th>
                                <td valign="top">
                                    <a style="color: black;font-weight: bold;" href="{{ price.price_url }}">{{ price.price_title }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td>价格：{{ price.price }}</td>
                                {% if price.collection_flag == 0 %}
                                <td><button type="button" class="btn btn-primary" data-loading-text="Loading..." onclick="colect('{{ price.price_id }}')" id="{{ price.price_id }}">收藏</button></td>
                                {% else %}
                                <td><button type="button" class="btn btn-primary" data-loading-text="Loading..." onclick="colect('{{ price.price_id }}')" id="{{ price.price_id }}">已收藏</button></td>
                                {% endif %}
                            </tr>
                        </table>
                    </li>
                {% endfor %}
                </ul>
    </p>
</div></div>
{% endblock %}