{% extends 'base.html' %}
{% block title %}price_trend{% endblock %}
{% block content %}
<div class="container">
    <a href="{{ url_for('first.index') }}" style="font-family:Microsoft YaHei;font-size: 12px;color: black;">首页</a>
    > <a style="font-family:Microsoft YaHei;font-size: 12px;color: black;">XXX&nbsp;&nbsp;</a>
    > <a style="font-family:Microsoft YaHei;font-size: 12px;">价格趋势</a>
    <hr style="border-top:1px dashed #987cb9;" width="100%" color="#987cb9" size=1>
    <a>{{ data }}</a>
    <a>{{ price }}</a>
    <div id="main" style="width:800px; height: 600px;" class="container"></div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/echarts/4.7.0/echarts-en.common.js"></script>
<script type="text/javascript">
    //指定图标的配置和数据
    var option = {
        title:{
            text:'商品近七日价格趋势'
        },
        tooltip:{},

        xAxis:{
            boundaryGap: false,
            data:['2020-05-23 11:35:04', '2020-05-21 18:44:35', '2020-05-20 18:05:35']
        },
        yAxis:{
        },
        series:[{
            name:'价格',
            type:'line',
            areaStyle: {
                normal: {}
            },
            data:[5242.0, 5242.0, 5242.0]
        }]
    };
    //初始化echarts实例
     var myChart = echarts.init(document.getElementById('main'));

    //使用制定的配置项和数据显示图表
    myChart.setOption(option);
</script>
{% endblock %}